.maqTuring {
  display: flex;
  height: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem 0px 7rem 0px;
}

table,
tr,
td {
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 8px 12px;
}

td {
  min-width: 2.5rem;
  max-width: 2.5rem;
}

.label {
  position: relative;
  top: 55px;
  left: -113px;
  border: 2px solid #000;
  padding: 12px;
}

.label::before {
  content: '\2191';
  position: absolute;
  top: -56px;
  left: 10px;
  font-size: 50px;
}
